.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* background-image : url('images/jordan2.jpeg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile { 
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
  position: relative;
  object-fit: cover;
  object-position: center right;
  border: 5px solid  #282c34 ;
 
}

.nametag-div{
  background-color: #ffffff;
  color: black;
  border-radius : 5%;
  margin-top : -90px;
  padding: 20px
}

.navbar {
  background-color: #282c34;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
  border-radius: .4em;
  margin-bottom: -20.5px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: 25.5px;
	margin-bottom: -21px;
}

.card-color{
  background-color: #00aabb
}